@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("..fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("..fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
}

.site-header {
  color: #000000;
  background-color: #FFFFFF;
}

.site-main-index {
  color: #333333;
  background-color: #FFFFFF;
}

.site-footer {
  color: #000000;
  background-color: #FFFFFF;
}

.welcome {
  color: #000000;
  background-color:rgb(119, 217, 255);
  background-image: url("../img/bg--mountains.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-index {
  color: #FFFFFF;
  background-color: grey;
  background-image: url("../img/bg--blurry-index.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.page-header {
  color: #FFFFFF;
  background-color: grey;
  background-image: url("../img/bg--blurry-catalog.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-menu-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}

.favorite-control-counter {
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #FFFFFF;
}

.button {
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
}

.button-base {
  font-size: 16px;
  text-decoration: none;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
}

.button-subscribe {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

.button-detail {
  font-size: 16px;
  text-align: center;
}

.button-favorites {
  font-size: 16px;
}

.button-still {
  font-size: 20px;
  line-height: 26px;
}

.search-button {
  font-size: 20px;
  line-height: 40px;
}

.favorite-item-title {
  font-weight: 700;
  line-height: 40px;
}

.favorite-item-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #333333;
}

.section-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.about-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #333333;
}

.item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.blue {
  color: #FFFFFF;
  background-color: #83B3D3;
}

.advantages-title,
.reasons-title-text {
  color: #000000;
}

.section-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.newsletter-email {
  font-weight: 400;
  line-height: 26px;
  align-items: center;
  color: #000000;
  opacity: 0.6;
}

.phone-number {
  text-decoration: none;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.modal-window-wrapper {
  color: #000000;
  background-color: #FFFFFF;
}

.modal-window-tile {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
}

.modal-window {
  font-weight: 700;
  line-height: 40px;
}

.date-hint {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #333333;
}

.date-hint-color {
  color: #FF5757;
}

.site-main-catalog {
  color: #333333;
  background-color: #FFFFFF;
}

.page-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-item {
  font-weight: 400;
  font-size: 16px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.control-label {
  font-weight: 400;
  line-height: 23px;
}

.search-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000000;
}

.sorting-options {
  font-weight: 400;
  line-height: 23px;
  color: #333333;
}

.catalog-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.catalog-item-text {
  font-weight: 400;
  line-height: 23px;
}

.rating-assessment {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}

.pagination-list-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
}

.pagination-list-item-selected {
  color: #000000;
}

.pagination-list-item {
  color: #FFFFFF;
  background-color: #83B3D3;
}
